body{
    background:#c5d4e2;
    color:#000000;
}

.hero{
    display: flex;
   align-items: center;
   color:#ffffff;

}
span{
    color: #9c94eb;
    font-weight: 4000;
}

nav{
    text-decoration: none;
    font-weight: 500;
    font-style: inherit;
    border-radius: 25px;
    transition: 0.6s;
    padding: 10px 20px;
    


}


#btn{
    border-color: #000000;
}

#line{
    color: white;
}
/* 
.image{
    width: 10%;
    height: 20vh;
    padding-left: 700px;
    
    
    
} */

.hero{
    min-height: 100vh;
    display: flex;
    align-items: center;
    padding: 0, 100px;

}


.hero-text p{
    font: size 0.9rem;
    line-height: 22px;
    max-width: 65%;
    margin bottom:  2rem;

}

.hero-text h1{
    font-size: 2.2rem;
        letter-spacing: 1px;
}
/* 
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f; ;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5px;
}

.tablinks.active-link::after{
    width: 50%;
} */

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/* nav .fas{
    display: block;
    font-size: 25px;
} */

/* nav ul{
    background:#ff004f ;
    position: fixed;
    top: 0;
    right: -200px;
    width: 200px;
    height: 100vh;
    padding-top: 50px;
    z-index:2;
} */

/* nav ul li{
    display: block;
    margin: 25px;

} */

/* nav ul .fas{
    position: absolute;
    top: 25px;
    left: 25px ;
    cursor: pointer;
} */

/* nav ul{
    background: #ff004f;
    width: 300px;
} */